html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body { line-height: 1; }
ol, ul { list-style: none; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main { display: block; }
blockquote, q { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; }

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

img { -ms-interpolation-mode: bicubic; }
del { text-decoration: line-through; }

abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input, select { vertical-align: middle; }

ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

button, input, select, textarea {
	margin: 0;
	font-size: 100%;
	vertical-align: middle;
}

button, input { line-height: normal; }

button::-moz-focus-inner, input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}

input[type="search"] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

textarea {
	overflow: auto;
	vertical-align: top;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.pull-right { float: right; }
.pull-left { float: left; }

.hide {
	display: none !important;
	visibility: hidden !important;
}

.show {
	display: block !important;
	visibility: visible !important;
}

.invisible { visibility: hidden; }

.ir {
	display: block;
	border: 0;
	text-indent: -999em;
	overflow: hidden;
	background-color: transparent;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
}

.responsive-image {
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	display: block;
}

img {
	max-width: 100%;
	height: auto;
}

body { background-image: linear-gradient(to bottom, green), linear-gradient(to bottom, red); }

* {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

*:after, *:before {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Futura", Tahoma, Geneva, sans-serif;
	font-size: 1.6rem;
	line-height: 1.7;
	color: #1a2a50;
	background-color: #fff;
	text-align: center;
}

a {
	color: #08c;
	text-decoration: none;
}

a:hover {
	color: #005580;
	text-decoration: underline;
}

.outer { text-align: left; }
.editorFullBreak { clear: both; }

.editorLargeText {
	margin-bottom: 0.140625em;
	font-size: 2.4rem;
}

small { font-size: 85%; }

strong {
	font-weight: normal;
	font-family: "Avenir Heavy", Tahoma, Geneva, sans-serif;
}

em { font-style: italic; }
cite { font-style: normal; }
.editorUnderline { text-decoration: underline; }

hr {
	margin: 1.5em 0;
	border: 0;
	border-top: 1px solid #f7f7f7;
	border-bottom: 1px solid #fff;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, sans-serif;
	text-rendering: optimizelegibility;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
	font-weight: normal;
	line-height: 1;
	color: #999;
}

h1 {
	font-weight: normal;
	font-family: "Avenir Medium", Tahoma, Geneva, sans-serif;
	font-size: 1.875em;
	line-height: normal;
	margin-bottom: 0.666667em;
}

h2 {
	font-weight: normal;
	font-family: "Avenir Medium", Tahoma, Geneva, sans-serif;
	font-size: 1.5em;
	line-height: normal;
}

h2.editor { margin-bottom: -0.458333em; }

h3 {
	font-size: 1.25em;
	font-weight: normal;
	line-height: normal;
	font-family: "Avenir Roman", Tahoma, Geneva, sans-serif;
}

h4 {
	font-size: 2rem;
	font-weight: normal;
	font-family: "Avenir Medium", Tahoma, Geneva, sans-serif;
}

h1 small { font-size: 2.8rem; }
h2 small { font-size: 2rem; }
h3 small { font-size: 1.6rem; }
h4 small { font-size: 1.6rem; }

.rteCopy ul, .rteCopy ol, .editorList, .editorRom, .editorBullets {
	margin: 0 0 0.75em 1.5625em;
	list-style-type: disc;
}

.editorList, .editorRom, .editorBullets { margin-top: -0.4375em; }
.rteCopy ul, .rteCopy ol { margin-bottom: 1.5em; }
.editorRom { list-style-type: lower-roman; }
.editorList, ol { list-style-type: decimal; }
ul ul, ul ol, ol ol, ol ul { margin-bottom: 0; }

sub, sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}

sup { top: -0.5em; }
sub { bottom: -0.25em; }

.centerJustify {
	width: 100%;
	text-align: center;
}

.leftJustify {
	width: 100%;
	text-align: left;
}

.rightJustify {
	width: 100%;
	text-align: right;
}

.justified {
	width: 100%;
	text-align: justify;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

.inlineQuote {
	color: #999;
	font-style: italic;
}

.inlineCite {
	color: #999;
	font-style: italic;
	font-weight: bold;
}

.editorBlockQuote {
	padding: 0 0 0 0.9375em;
	margin: 0 0 1.5em;
	border-left: 5px solid #f7f7f7;
}

.editorBlockQuote p { margin-bottom: 0; }

.editorBlockQuote small {
	display: block;
	color: #999;
}

.editorBlockQuote small:before { content: '\2014 \00A0'; }

.seperator {
	margin: 0 0.875em;
	font-family: "Avenir Roman", Tahoma, Geneva, sans-serif;
}

@media (max-width: 34.375em) {
	.seperator { margin: 0 0.375em; }
}

.editorColumns { width: 100%; }

.editorColumns:after {
	content: "";
	display: table;
	clear: both;
}

.editorColumnsInner { float: left; }
.editorColumnsPadding { padding: 0.3125em; }

.editorImgFloat-left, .editorLeftImage {
	float: left;
	width: auto;
	margin: 0 1.5em 1.5em 0;
}

.editorImgFloat-right, .editorRightImage {
	float: right;
	width: auto;
	margin: 0 0 1.5em 1.5em;
}

.editorImgFloat-center {
	margin: 1.5em auto 1.5em;
	text-align: center;
	display: block;
}

.imageBox {
	width: 100%;
	text-align: center;
	display: block;
	clear: both;
	margin: 0 0 1.5em;
}

.imageBox img { margin: 0 auto; }

.imageBoxCaption {
	text-align: left;
	display: block;
	margin: 0 auto;
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
	max-width: 100%;
	height: auto;
	margin-top: 1.5em;
}

.embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.largeLink {
	display: inline-block;
	font-size: 1.25em;
	color: #fff;
	background-color: #1a2a50;
	font-family: "Avenir Medium", Tahoma, Geneva, sans-serif;
	line-height: normal;
	padding: 0.375em 0.9375em 0.4375em;
	box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.2);
	margin-bottom: 1em;
}

.largeLink .svg-icon {
	font-size: 1.6rem;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	top: -0.125em;
}

.largeLink:hover {
	color: #fff;
	text-decoration: none;
	background-color: #203463;
}

@media (max-width: 28.75em) {
	.largeLink { font-size: 1em; }
}

.editorLink {
	color: #d49f3e;
	text-decoration: none;
	cursor: pointer;
}

.editorLink:hover, .link__back:hover { text-decoration: none; }

.anchor {
	display: block;
	background-color: #1a2a50;
	color: #fff;
	font-size: 1.25em;
	line-height: 1.9;
	padding-right: 1.7em;
	position: relative;
	padding-left: 0.8em;
	letter-spacing: -0.05em;
	max-width: 25em;
	-webkit-font-smoothing: antialiased;
	margin-top: 0.625em;
	box-shadow: 2px 3px 0 0 rgba(255, 255, 255, 0.2);
}

@media (max-width: 28.75em) {
	.anchor { font-size: 1.125em; }
}

.anchor:hover {
	color: #fff;
	background-color: #203463;
	text-decoration: none;
}

.anchor__arrow {
	position: absolute;
	right: 0.7em;
	top: 0;
	width: 0.8em;
}

.anchor__arrow .svg-arrow-down {
	display: block;
	margin-top: 0.7em;
}

@media (max-width: 28.75em) {
	.anchor__text { display: none; }
}

@media (max-width: 28.75em) {
	.anchor .seperator { display: none; }
}

.header__title {
	display: inline-block;
	vertical-align: top;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1.6em;
	margin-top: 0.2em;
	line-height: normal;
	color: #d49f3e;
}

.header__right { float: right; }

.header__link {
	color: #d49f3e;
	display: inline-block;
	height: 1em;
	margin-top: 0.2em;
	margin-bottom: 0;
	font-size: 100%;
	position: relative;
	text-decoration: none;
	font-family: Tahoma, Geneva, sans-serif;
}

.header__link:hover {
	text-decoration: underline;
	color: #d49f3e;
}

.footer {
	padding-top: 0.25em;
}

.footer__nav {
    line-height: 1em;
	display: inline-block;
	vertical-align: top;
}

.footer__nav__items > li {
    float:left;
	display: inline-block;
	vertical-align: top;
	border-left: 2px solid #d1d4dc;
}

.footer__nav__items > li:first-child { border-left: none; }
.footer__nav__items > li:first-child .footer__nav__item { padding-left: 0; }

.footer__nav__item {
	padding: 0 1.214286em;
}

.footer__nav__item a {
    color: #1a2a50;
}


@media (max-width: 35em) {
    .footer__nav__items > li {
        float:left;
        border-left: none;
    }
}


.wrapper, .cols2__inner, .cols1__inner, .formcols__inner {
	max-width: 78.4375em;
	margin: 0 auto;
	position: relative;
	padding: 0 1.25em;
}

@media (max-width: 28.75em) {
	.wrapper, .cols2__inner, .cols1__inner, .formcols__inner { padding: 0 0.9375em; }
}

button, input, textarea {
	font-family: "Avenir Roman", Tahoma, Geneva, sans-serif;
	background-image: none;
}

.form__legend {
	font-size: 1.5em;
	line-height: normal;
	font-family: "Avenir Medium", Tahoma, Geneva, sans-serif;
	margin-bottom: 0.833333em;
}

.form__help { margin-bottom: 1.5625em; }

.form__label, .siso__label {
	display: block;
	color: #d49f3e;
}

.form__control--cb .form__label, .form__control--cb .siso__label { color: #fff; }

.form__input, .siso__input {
	width: 100%;
	height: 2.75em;
	border-radius: 4px;
	padding: 0.375em 0.75em;
	background-color: #fff;
	border: 2px solid transparent;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.invalid .form__input, .invalid .siso__input { border-color: #fd7035; }

.form__input:focus, .siso__input:focus {
	border-color: #d49f3e;
	outline: none;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(212, 159, 62, 0.6);
}

.lt-ie9 .form__input, .lt-ie9 .siso__input { width: 95%; }

.form__textarea {
	width: 100%;
	padding: 0.375em 0.75em;
	border-radius: 4px;
	background-color: #fff;
	border: 2px solid transparent;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.invalid .form__textarea { border-color: #fd7035; }

.form__textarea:focus {
	border-color: #d49f3e;
	outline: none;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(212, 159, 62, 0.6);
}

.form__checkbox {
	margin: 0.3125em 0 0;
	margin-top: 1px \9;
	line-height: normal;
	position: absolute;
	left: 0;
}

.form__error, .siso__error { color: #fd7035; }

.form__control, .form__control--cb, .siso__control {
	display: block;
	margin-bottom: 1.5em;
	position: relative;
}

.form__control--cb {
	padding-left: 1.5625em;
	margin-bottom: 0.875em;
}

.form__button {
	display: inline-block;
	margin-bottom: 1.5em;
	position: relative;
}

.form__select {
	width: 100%;
	background: #fff;
	border: 1px solid transparent;
	outline: none;
	appearance: none;
	-webkit-appearance: none;
	font-size: 1em;
	font-family: "Avenir Roman", Tahoma, Geneva, sans-serif;
	font-weight: normal;
	padding: .6em 1.9em .5em .8em;
	line-height: 1.3;
}

form__select__container .form__select:focus {
	outline: none;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(212, 159, 62, 0.6);
	border-color: #d49f3e;
}

.form__select__container { position: relative; }

.form__select__container:after {
	content: "";
	position: absolute;
	width: 1em;
	height: 0.625em;
	top: 50%;
	right: 1em;
	margin-top: -0.1875em;
	background-image: url(/media/images/Dropdownarrow_59.svg);
	background-repeat: no-repeat;
	background-size: 100%;
	z-index: 2;
	pointer-events: none;
}

x:-o-prefocus, .form__select__container::after { display: none; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.form__select::-ms-expand { display: none; }

	.form__select:focus::-ms-value {
		background: transparent;
		color: #222;
	}
}

@-moz-document url-prefix() {

  .form__select__container {
    overflow: hidden; }

  .form__select {
    width: 120%;
    width: -moz-calc(100% + 3em);
    width: calc(100% + em); } }

.form__select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #000;
}

.btn, .btn--primary, .btn--secondary, .siso__btn--primary, .siso__btn--signin, .siso__btn--signout, .siso__btn--password, .siso__btn--email, .btn--tertiary, .btn--link, .siso__btn--forgot, .siso__btn--register {
	display: inline-block;
	margin-bottom: 0;
	font-family: "Avenir Medium", Tahoma, Geneva, sans-serif;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #1a2a50;
	line-height: normal;
}

.btn:hover, .btn--primary:hover, .btn--secondary:hover, .siso__btn--primary:hover, .siso__btn--signin:hover, .siso__btn--signout:hover, .siso__btn--password:hover, .siso__btn--email:hover, .btn--tertiary:hover, .btn--link:hover, .siso__btn--forgot:hover, .siso__btn--register:hover, .btn:focus, .btn--primary:focus, .btn--secondary:focus, .siso__btn--primary:focus, .siso__btn--signin:focus, .siso__btn--signout:focus, .siso__btn--password:focus, .siso__btn--email:focus, .btn--tertiary:focus, .btn--link:focus, .siso__btn--forgot:focus, .siso__btn--register:focus { text-decoration: none; }

.btn:active, .btn--primary:active, .btn--secondary:active, .siso__btn--primary:active, .siso__btn--signin:active, .siso__btn--signout:active, .siso__btn--password:active, .siso__btn--email:active, .btn--tertiary:active, .btn--link:active, .siso__btn--forgot:active, .siso__btn--register:active {
	outline: 0;
	background-image: none;
}

.btn--primary, .btn--secondary, .siso__btn--primary, .siso__btn--signin, .siso__btn--signout, .siso__btn--password, .siso__btn--email {
	font-size: 1.25em;
	padding: 0.45em 0.8em;
	background-color: #d49f3e;
	margin-bottom: 0.5em;
	box-shadow: 2px 2px 0 0 rgba(255, 255, 255, 0.2);
}

.btn--primary:hover, .btn--secondary:hover, .siso__btn--primary:hover, .siso__btn--signin:hover, .siso__btn--signout:hover, .siso__btn--password:hover, .siso__btn--email:hover {
	background-color: #d9a953;
	color: #1a2a50;
}

.btn--secondary {
	background-color: #a98923;
}
.btn--secondary .svg-button-arrow { margin-left: 0.3125em; }

.btn--secondary:hover {
	background-color: #d9a953;
}

.btn--secondary:hover .svg-button-arrow path { fill: #d49f3e; }

.btn--tertiary {
	font-size: 0.9375em;
	background-color: #1a2a50;
	color: #fff;
	padding: 0.133333em 0.533333em;
}

.btn--tertiary:hover { background-color: #273e76; }

.btn--link, .siso__btn--forgot, .siso__btn--register {
	color: #d49f3e;
	background: none;
	margin-right: 0.625em;
	padding: 0;
}

.btn--link:hover, .siso__btn--forgot:hover, .siso__btn--register:hover { text-decoration: underline; }
.sidenav__item { color: #d49f3e; }
.sidenav__item:hover { color: #d49f3e; }
.current .sidenav__item { color: #fff; }
.cols2 { background-color: #d49f3e; }

.cols2__inner {
	padding-top: 1.875em;
	padding-bottom: 1.875em;
}

.cols2__inner:after {
	content: "";
	display: table;
	clear: both;
}

.cols2__left {
	float: left;
	margin-right: 24.0625em;
	padding-right: 2em;
}

@media (max-width: 56.25em) {
	.cols2__left {
		float: none;
		margin: 0 0 1.875em;
		padding: 0;
	}
}

.cols2__right {
	width: 24.0625em;
	float: right;
	margin-left: -24.0625em;
}

@media (max-width: 56.25em) {
	.cols2__right {
		float: none;
		width: auto;
		margin: 0;
	}
}

.cols2--alternate {
	background-color: #1a2a50;
	color: #fff;
}

.cols2--alternate h2 { color: #d49f3e; }
.cols1 { background-color: #d49f3e; }

.cols1__inner {
	padding-top: 1.875em;
	padding-bottom: 1.875em;
}

.cols1__inner:after {
	content: "";
	display: table;
	clear: both;
}

.cols1__content {
	padding-left: 12.8125em;
	max-width: 50.625em;
}

@media (max-width: 45.3125em) {
	.cols1__content { padding-left: 0; }
}

.formcols {
	background-color: #1a2a50;
	color: #fff;
}

.formcols__inner { padding-top: 1em; }

.formcols__inner:after {
	content: "";
	display: table;
	clear: both;
}

.formcols__flex { display: flex; }

@media (max-width: 56.25em) {
	.formcols__flex { display: block; }
}

.no-flexbox .formcols__flex { display: block; }
.no-flexbox { width: auto; }

.formcols__half {
	display: flex;
	-webkit-box-lines: multiple;
	-moz-box-lines: multiple;
	box-lines: multiple;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.formcols__half > li {
	display: inline-block;
	vertical-align: top;
	width: 50%;
}

.formcols__half > li:nth-child(odd) { padding-right: 1em; }

@media (max-width: 62.5em) {
	.formcols__half > li:nth-child(odd) { padding: 0; }
}

.formcols__half > li:nth-child(even) { padding-left: 1em; }

@media (max-width: 62.5em) {
	.formcols__half > li:nth-child(even) { padding: 0; }
}

@media (max-width: 62.5em) {
	.formcols__half > li { width: 100%; }
}

.formcols__section { margin-top: 1.4375em; }
.formcols__multiple { margin-bottom: 1.4375em; }
.formcols__submit { margin-top: 2.625em; }

/*
    General 'blue' contents.
*/

.formcols__main {
	background-color: rgba(255, 255, 255, 0.02);
	margin: 0 0 1.875em;
	margin-right: 8em;
	padding: 0 2.5em 0 0;
}

@media (max-width: 62.50em) {
	.formcols__main {
		float: none;
		background-color: rgba(255, 255, 255, 0.02);
		margin: 0 -0.25em 1.875em 0.10em;
		padding: 0;
	    margin-right: 8em;
	}
}
@media (max-width: 34.375em) {
	.formcols__main {
		float: none;
		background-color: rgba(255, 255, 255, 0.05);
		margin: 0 0 1.875em;
		padding: 0;
	}
}

.formcols__aside {
	width: auto;
	max-width: 6.75em;
	float: right;
	margin-left: -6.75em;
	background-color: rgba(0, 0, 0, 0.20);
	padding: 0.25em;
}

@media (max-width: 55em) {
	.header__title {
		font-size: 1.0em;
		padding-top: 0.4em;
	}
}
/*
@media (max-width: 64.00em) { .header__title:after { content:" 64.00em"; } }
@media (max-width: 62.50em) { .header__title:after { content:" 62.50em"; } }
@media (max-width: 60.00em) { .header__title:after { content:" 60.00em"; } }
@media (max-width: 56.25em) { .header__title:after { content:" 56.25em"; } }
@media (max-width: 55.00em) { .header__title:after { content:" 55.00em"; } }
@media (max-width: 50.00em) { .header__title:after { content:" 50.00em"; } }
@media (max-width: 45.3125em) { .header__title:after { content:" 45.31em"; } }
@media (max-width: 35.00em) { .header__title:after { content:" 35.00em"; } }
@media (max-width: 34.375em) { .header__title:after { content:" 34.37em"; } }
@media (max-width: 28.75em) { .header__title:after { content:" 28.75em"; } }
*/
@media (max-width: 55em) {
	.formcols__aside {
	    width: 100%;
	    max-width: 100%;
		float: none;
		display: block;
		margin: 0;
	}

	.sidenav__items {
		display: table;
		clear: both;
	}

	.sidenav__items li {
		float: left;
		display: inline-block;
		margin: 0.2em;
	}
}

.formcols__container {
	background-color: rgba(255, 255, 255, 0.05);
	padding: 0.25em 1.0em 1.65em 1.0em;
}

/* 56.25 + 7 = 63.25 */
@media (max-width: 56.25em) {
	.formcols__container { margin-right: 7em; }
}

@media (max-width: 56.25em) {
	.formcols__container {
        margin: 0;
        padding: 0.25em 0.25em 0.25em 0.25em;
    }
}
@media (max-width: 55.00em) {
	.formcols__main {
        margin: 0;
    }
}

@media (max-width: 35em) {
	.formcols__container {
	    max-width: 33em;
		float: none;
		display: block;
	}
}

.formcols__l {
	max-width: 49%;
	padding-right: 1.25em;
	display: inline-block;
	vertical-align: top;
}

.formcols__r {
	margin:0;
	width: 70%;
    min-width: 50%;
	padding-left: 0.25em;
	padding-right:0;
	display: inline-block;
	vertical-align: top;
}

@media (max-width: 60.00em) {
	.formcols__l {
		margin: 0;
		padding: 0.25em;
		width: 34%;
		min-width: 12em;
	    max-width: 20em;
	}
    .formcols__r {
		margin: 0;
		width: 65%;
    }
}

.formcols__space-between {
	display: flex;
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;
	-ms-flex-pack: justify;
}

.formcols .editorLink, .formcols .link__back {
	color: #d49f3e;
	text-decoration: none;
}

.formcols .editorLink:hover, .formcols .link__back:hover {
	color: #d49f3e;
	text-decoration: underline;
}

.formcols__large {
	background-color: rgba(255, 255, 255, 0.05);
	padding: 1.5625em 1.875em;
}


.cselect { margin: 1.25em 0 3.1875em; }

.cselect__label {
	font-size: 1.5em;
	color: #fff;
	font-family: "Avenir Medium", Tahoma, Geneva, sans-serif;
	display: block;
	line-height: normal;
	margin-bottom: 0.333333em;
}

.cselect .form__select__container { max-width: 21.875em; }

.overlay {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 100;
	top: 0;
	background-color: rgba(0, 0, 0, 0.8);
	left: 0;
	display: none;
}

.overlay__panel {
	top: 30%;
	position: relative;
	max-width: 34.0625em;
	background-color: #1a2a50;
	margin: 0 auto;
	padding: 3.125em 2.5em;
}

.overlay__container {
	top: 10%;
	position: relative;
	max-width: 50em;
	background-color: #1a2a50;
	margin: 0 auto;
	padding: 3.125em 2.5em;
	max-height: 80vh;
	overflow: auto;
}

@media (max-width: 45.3125em) {
	.overlay__container { padding: 1.5625em 0.9375em; }
}

.overlay__title {
	font-size: 1.75em;
	line-height: normal;
	color: #d49f3e;
	font-family: "Avenir Heavy", Tahoma, Geneva, sans-serif;
	margin-bottom: 0.714286em;
}

.overlay__content {
	color: #fff;
	margin-bottom: 1.125em;
}

.overlay__buttons { margin-top: 1.875em; }

.overlay__buttons > li {
	margin: 0 1.875em;
	display: inline-block;
}

.siso {
	background-color: rgba(255, 255, 255, 0.05);
	max-width: 28.125em;
	margin: 0 auto;
}

.siso__msg {
	font-size: 1em;
	margin-bottom: 0.875em;
}

.siso__button {
	display: inline-block;
	margin-bottom: 0.5em;
	position: relative;
}

.siso__btns--secondary > li { display: inline-block; }
.siso__signout .siso__button { display: block; }

.siso__header > li {
	display: inline-block;
	margin-left: 1.25em;
}

.siso__btn--signout {
	margin-bottom: 0.5em;
	width: 100%;
}

.siso__btn--password {
	margin-bottom: 0.5em;
	width: 100%;
}

.siso__btn--email {
	margin-bottom: 0.5em;
	width: 100%;
}

.admin__list {
	margin-bottom: 1.25em;
	margin-top: 1.25em;
}

.bullet__container {
	background-color: #f7f7f7;
	margin-bottom: 0.125em;
}

.bullet__container:after {
	content: "";
	display: table;
	clear: both;
}

.bullet__content {
	background-color: #d9d9d9;
	font-size: 1.25em;
	line-height: 1.2;
	margin-left: 3em;
	min-height: 3em;
	padding: 0.95em 0.7em 0.8em 1.6em;
}

.bullet__content small {
	font-size: 0.8em;
	line-height: 1.5;
}

.bullet__icon {
	text-align: center;
	width: 3.75em;
	float: left;
	padding-top: 1.25em;
	height: 3.75em;
}

.panel { border: 2px solid #d49f3e; }

@media (max-width: 45.3125em) {
	.panel { margin-top: 1.875em; }
}

.panel__title {
	background-color: #d49f3e;
	font-size: 1.5em;
	line-height: 1.166667;
	color: #fff;
	padding-top: 0.375em;
	padding-bottom: 0.541667em;
	padding-left: 0.625em;
	padding-right: 0.625em;
	font-family: "Avenir Roman", Tahoma, Geneva, sans-serif;
}

.panel__content {
	line-height: 1.5;
	padding-left: 0.875em;
	padding-right: 1.875em;
	padding-top: 0.9375em;
	padding-bottom: 0.9375em;
}

/* My report stle */
.irow {
    margin-left:2em;
}
.compressed {
  width:100%;
  background-color: rgba( 250,250,250, 0.20);
}

.report {
  background-color: rgba( 250,250,250, 0.75);
  border: 1px solid black;
  font-size: 0.9em;
  width: 100%;
}
.report table {
	border-collapse: collapse;
	width: 100%;
}
.report thead {
  border: 1px solid black;
}
.report td {
  border: 1px solid black;
  color: rgba(20, 20, 20, 100);
  text-align: left;
  padding:0.2em 0.3em 0.1em 0.3em;
}

.preline {
  text-align: left;
  white-space: pre-line;
  min-width: 20em;
  width:auto;
  max-width: 100%;
}

 .report th {
  background: rgb(146, 159, 155);
  color: rgba(40, 40, 40, 80);
  text-transform: initial;
  text-align: left;
  padding:0.2em 0.2em 0.1em 1em;
  padding-left:1em;
}

@media print {
 .formcols__main {
    margin:0;
    padding:0;
 }
 .header__wrapper, header, footer, aside {
  	display: none !important; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr, img {
    page-break-inside: avoid; }
  td {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2, h3 {
    page-break-after: avoid; }
  h3 {
  	font-size:1em !important;
  }
  .report {
    width:100%;
    font-size: 0.68em !important;
  }
}




